@import 'https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans:300,400,500';

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #566b78;
  margin: 0;
}

nav {
  display: flex;
}

nav a {
  color: #e81c4f;
  text-decoration: none;
  padding: 1em;
  display: block;
}

a.dropdown-item {
  padding: 0.5em 1em 0.5em 1em;
}

nav a:hover {
  background-color: #f69bb0c2;
  color: white;
}

.dropdown .dropdown-item {
  display: flex;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #f69bb0c4;
  box-shadow: 0 8px 8px rgba(10, 10, 10, .1);
}

.projects-menu:hover .dropdown {
  display: block;
}

header {
  background-color: #263d36;
  background-image: url("banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  font-size: 4em;
  font-weight: 300;
  font-family: "Dancing Script", cursive;
  text-shadow: 2px 2px 3px grey;
  margin: 0;
}

header h1 a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 50em;
}

main,
footer {
  padding: 1em 1em;
  margin: 0 auto;
}

h1,
h2,
strong {
  color: #333;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

main a,
footer a {
  color: #e81c4f;
}

main a:hover,
footer a:hover {
  color: #c11741;
}

section.pattern .content,
section.fabric .content {
  display: flex;
  flex-wrap: wrap;
}

section.pattern .infos,
section.fabric .infos {
  min-width: 18em;
  margin-right: auto;
}

footer {
  text-align: center;
  background-color: #ffb5a9;
  color: white;
}
